<p id="notice"><%= notice %></p>

<h1>Weclome to the campus office page</h1>

<table>
  <thead>
    <tr>
      <th>Build name</th>
      <th>Floor number</th>
      <th>Room number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offices.each do |office| %>
      <tr>
        <td><%= office.build_name %></td>
        <td><%= office.floor_number %></td>
        <td><%= office.room_number %></td>
        <td><%= link_to 'Show', office %></td>
        <td><%= link_to 'Edit', edit_office_path(office) %></td>
        <td><%= link_to 'Destroy', office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Office', new_office_path %>

<br><br>

<%=form_tag(search_offices_url, method: "get") do%>
  <%=label_tag(:query, "Search for:") %>
  <%=text_field_tag(:query) %>
  <%=submit_tag("Search") %>
<%end%>

<br><br>

<table>
  <thead>
    <tr>
      <th>Navigation</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=link_to 'Sections', sections_path%></td>
      <td><%=link_to 'Courses', courses_path%></td>
      <td><%=link_to 'Teachers', teachers_path%></td>
    </tr>
