<%= form_with(model: section) do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Year %>
    <%= form.number_field :Year %>
  </div>

  <div class="field">
    <%= form.label :Semester %>
    <%= form.text_field :Semester %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%=form.collection_select:course_id, Course.all, :id, :Description%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
