<h1>Found Courses</h1>

<table>
  <thead>
    <tr>
      <th>Prefix</th>
      <th>Number</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.Prefix %></td>
        <td><%= course.Number %></td>
        <td><%= course.Description %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%=link_to 'Back', courses_path%>